<% layout('layouts/boilerplate')%>
<div id="cluster-map"></div>
<div class="container">
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6">
                <% if(author) {%>
                <h1 class="capitalize-text"><%=author.username %> Places</h1>
                <% } else { %>
                <h1>All Places</h1>
                <% } %>
            </div>
            <div class="col-md-6">
                <% if (author) { %>
                        <form action="/places/user/<%=author.id%>" method="POST" class="d-flex justify-content-end">
                            <input type="text" id="name" name="name" class="form-control" placeholder="Search" required>
                            <input type="hidden" id="authorId" name="authorId" value="<%=author.id%>">
                            <button class="btn btn-info ml-2" type="submit">Search</button>
                            <a href="/places/user/<%=author.id%>" class="btn btn-secondary ml-2">Restore</a>
                        </form>
                <% } else { %>
                    <form action="/places" method="POST" class="d-flex justify-content-end">
                        <input type="text" id="name" name="name" class="form-control" placeholder="Search" required>
                        <input type="hidden" id="authorId" name="authorId" value="<%=null%>">
                        <button class="btn btn-info ml-2" type="submit">Search</button>
                        <a href="/places" class="btn btn-secondary ml-2">Restore</a>
                    </form>
                <% } %>
            </div>
        </div>
    </div>
    <% for (let place of places){%>
    <div class="card mb-3" style="background: #343a400f">
        <div class="row chat-column">
            <div class="col-md-4 image-container">
                <%if(place.images.length) {%>
                <img class="img-fluid" alt="" src="<%=place.images[0].url%>">
                <% } else {%>
                <img class="img-fluid" alt=""
                    src="https://res.cloudinary.com/ddsxauxqi/image/upload/v1683583556/DonateOnNetwork/3448561_ktdkmd.png">
                <% } %>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><%= place.title %> </h5>

                    <p class="card-text"><%= place.description %></p>
                    <p class="card-text">
                        <small class="text-muted"><%= place.location%></small>
                    </p>
                    <a class="btn btn-primary" href="/places/<%=place._id%>">View</a>
                    <a class="btn btn-secondary" href="/chat/<%=place._id%>">Chat</a>
                    <% if(currentUser?.isAdmin) {%>
                    <a class="btn btn-success" href="/donations/place/<%=place._id%>">Donations</a>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <% }%>
    <% if (places.length < 1){%>
        <div class="card mb-3">
            <div class="card-body text-center">
                <h5 class="card-title">Not Found</h5>
                <p class="card-text">There are not places for this search</p>
            </div>
        </div>
    <% } %>
</div>
<script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    const places = { features: <%- JSON.stringify(places) %>}
</script>

<script src="/javascripts/clusterMap.js"></script>
